@import '../../styles/variables';

.user-information {
    @extend .transition;
    padding: 1rem 1rem 1rem 1rem;
    background-color: inherit;
    cursor: pointer;
}

.user-information:hover {
    background-color: $primary-color-hover;
}

.user-data-name {
    font-weight: 800;
}

.user-data-name:hover {
    @extend .user-data-name;
    text-decoration: underline;
}
