.flex-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-center {
    @extend .flex-row;
    -webkit-box-align: center;
    align-items: center;
}

.flex-row-even {
    @extend .flex-row;
    align-items: stretch;
    justify-content: space-between;
}

.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.flex-row-reverse-center {
    @extend .flex-row-reverse;
    -webkit-box-align: center;
    align-items: center;
}
