

$base-margin-padding-rem: 0.5rem;
$margin-padding-factor: 4;

// top right bottom left
// create for loop for each permutation?

.mt-sm {
    margin-top: $base-margin-padding-rem;
}

.mt-med {
    margin-top: ($base-margin-padding-rem * $margin-padding-factor);
}

.mt-lg {
    margin-top: ($base-margin-padding-rem * $margin-padding-factor * $margin-padding-factor);
}

.mr-sm {
    margin-right: $base-margin-padding-rem;
}

.mr-med {
    margin-right: ($base-margin-padding-rem * $margin-padding-factor);
}

.mr-lg {
    margin-right: ($base-margin-padding-rem * $margin-padding-factor * $margin-padding-factor);
}

.mb-sm {
    margin-bottom: $base-margin-padding-rem;
}

.mb-med {
    margin-bottom: ($base-margin-padding-rem * $margin-padding-factor);
}

.mb-lg {
    margin-bottom: ($base-margin-padding-rem * $margin-padding-factor * $margin-padding-factor);
}

.ml-sm {
    margin-left: $base-margin-padding-rem;
}

.ml-med {
    margin-left: ($base-margin-padding-rem * $margin-padding-factor);
}

.ml-lg {
    margin-left: ($base-margin-padding-rem * $margin-padding-factor * $margin-padding-factor);
}

.pt-sm {
    padding-top: $base-margin-padding-rem;
}

.pt-med {
    padding-top: ($base-margin-padding-rem * $margin-padding-factor);
}

.pt-lg {
    padding-top: ($base-margin-padding-rem * $margin-padding-factor * $margin-padding-factor);
}

.pr-sm {
    padding-right: $base-margin-padding-rem;
}

.pr-med {
    padding-right: ($base-margin-padding-rem * $margin-padding-factor);
}

.pr-lg {
    padding-right: ($base-margin-padding-rem * $margin-padding-factor * $margin-padding-factor);
}

.pb-sm {
    padding-bottom: $base-margin-padding-rem;
}

.pb-med {
    padding-bottom: ($base-margin-padding-rem * $margin-padding-factor);
}

.pb-lg {
    padding-bottom: ($base-margin-padding-rem * $margin-padding-factor * $margin-padding-factor);
}

.pl-sm {
    padding-left: $base-margin-padding-rem;
}

.pl-med {
    padding-left: ($base-margin-padding-rem * $margin-padding-factor);
}

.pl-lg {
    padding-left: ($base-margin-padding-rem * $margin-padding-factor * $margin-padding-factor);
}
