// https://encycolorpedia.com/38acf4
$primary-color: #38acf4;
$primary-color-80: #6cb9f6;
$primary-color-60: #8fc7f8;
$primary-color-40: #aed5fa;
$primary-color-20: #cae2fc;
$primary-color-hover: #e3f1fc;
$border-color: #e6ecf0;

