// https://encycolorpedia.com/38acf4
$primary-color-dark: #3597d4;
$primary-color: #38acf4;
$primary-color-80: #6cb9f6;
$primary-color-60: #8fc7f8;
$primary-color-40: #aed5fa;
$primary-color-20: #cae2fc;
$primary-color-hover: #f0f7fc;
$border-color: lightgrey;

.transition {
    transition: 0.2s ease-in-out;
}
