@import '../../styles/variables';

.tweet {
    font-size: 0.8rem;
}

.tweet-create {
    position: relative;
    width: 100%;
}

.tweet-draft-editor {
	line-height: 24px;
    width:100%;
    height:100%;
    border: none;
    resize: none;
    outline: black;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.tweet-create-footer {
    display: flex;
    flex-direction: row-reverse;
    -webkit-box-align: center;
    align-items: center;
}

.tweet-footer-item {
    margin-left: 1rem;
}

.char-limit-warning {
    color: orange;
    font-weight: bolder;
}

.char-limit-error {
    color: red;
    font-weight: bolder;
}
