@import '../../styles/variables';

.navbar {
    width: 30%;
    margin: 0 auto;
}

.link {
    color: black;
    font-weight: bolder;
    text-decoration: none !important;
}

.link:hover {
    color: $primary-color;
    background-color: $primary-color-hover;
}

.active-link {
    color: $primary-color;
}
