@import '../../styles/variables';

.tweet-create {
    position: relative;
    width: 100%;
}

.tweet-draft-editor {
    font-size: 1.2rem;
	line-height: 24px;
    width: 95%;
    height: 100%;
    border: none;
    resize: none;
    outline: black;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.tweet-footer-item {
    margin-left: 1rem;
}

.char-limit-warning {
    color: orange;
    font-weight: bolder;
}

.char-limit-error {
    color: red;
    font-weight: bolder;
}

.char-circular-progress-bar {
    height: 2rem;
    width: 2rem;
}
