@import 'styles/variables';
@import 'styles/buttons';
@import 'styles/typography';
@import 'styles/avatar';
@import 'styles/margin-padding';
@import 'styles/flex';

.content-container {
  max-width: 1375px;

  margin: 0 auto;
}

.flex-grid {
  display: flex;
}

.main {
  flex-basis: 56%;
  padding: 1rem 0 0 0;
  border-right: 1px solid $border-color;
  border-left: 1px solid $border-color;
}

.recommendations {
  flex: 1;
}
