@import '../../styles/variables';

.tweet-card {
    @extend .transition;
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px $border-color;
    cursor: pointer;
}

.tweet-card:hover {
    background-color: $primary-color-hover;
}

.tweet-card-row {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

.tweet-card-row-item {
    margin-right: 0.5em;
}

.tweet-card-header {
    font-size: 0.8rem;
}
.tweet-card-header-username {
    font-weight: 800;
}
.tweet-card-header-username:hover {
    @extend .tweet-card-header-username;
    text-decoration: underline;
}

.tweet-card-header-metadata, .tweet-card-footer {
    color: grey;
}

.tweet-card-icons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tweet-card-icons-avatar {
  height: 3.5rem;
  width: 3.5rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.tweet-card-content {
    width: 100%;
}

.tweet-card-body {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
}

.tweet-card-footer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

.icon {
    @extend .transition;
    background-color: transparent;
    margin: 0 0.5rem 0 0;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 50%;
}

.icon-text {
    @extend .transition;
    background-color: transparent;
}

.reply-icon:hover {
    color: $primary-color;
}
.reply-icon:hover > .icon {
    background-color: $primary-color-20;
}

.retweet-icon:hover {
    color: #32CD32;
}
.retweet-icon:hover > .icon {
    background-color: #c2f0c2;
}

.like-icon:hover {
    color: #FF69B4;
}
.like-icon:hover > .icon {
    background-color: #ffe1f0;
}
