@import '../../styles/variables';

.tweet-card {
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px $border-color;
    cursor: pointer;
}

.tweet-card:hover {
    background-color: $primary-color-hover;
}

.tweet-card-row {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

.tweet-card-row-item {
    margin-right: 0.5em;
}

.tweet-card-header {
    font-size: 0.8rem;
}

.tweet-card-header-metadata, .tweet-card-footer {
    color: grey;
}

.tweet-card-icons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tweet-card-icons-avatar {
  height: 3.5rem;
  width: 3.5rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.tweet-card-body {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
}
